services:
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/usr/src/app
      - huggingface_cache:/home/appuser/.cache/huggingface
      - site_packages:/usr/local/lib/python3.10/site-packages  
    ports:
      - "8000:8000"
    user: "appuser:appgroup"
    depends_on:
      - db
    environment:
      - DB_NAME=postgres
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_HOST=db
      - TRANSFORMERS_CACHE=/home/appuser/.cache/huggingface

  db:
    image: postgres:13
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres

volumes:
  postgres_data:
  huggingface_cache:
  site_packages:  